packages:
  yum:
    amazon-efs-utils: []

commands:
  01_mount:
    command: "/tmp/mount-efs.sh"

files:
  "/tmp/mount-efs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      EFS_ID="fs-067affbb589f6179a"
      MOUNT_POINT="/mnt/efs/log"
      
      mkdir -p $MOUNT_POINT
      if ! grep -qs "$MOUNT_POINT" /proc/mounts; then
        mount -t efs -o tls $EFS_ID:/ $MOUNT_POINT
      fi